<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="../assets/HomepageLogo.png" alt="Homepage Logo" height="50px" width="48px"> Monthly Scrum
        </a>
        <button
        type="button" class="navbar-toggler" data-bs-target="#navbarNav"
        data-bs-toggle="collapse"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-lable="Toggle Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto">

            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">docs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">about</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="imageDiv" >

    <router-outlet></router-outlet>
</div>


